<table width="100%">
	<%
	var i; 
	for(i=0; i< quizes.length; i++){ 
	%>
		<tr>
			<td>
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
		</tr>
	<%
	}
	%>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<form method="get" action="/quizes" >
				<input type="text" name="search" placeholder="Busca una pregunta"/>
				<input type="submit" value="Buscar"/> 
			</form>
		</td>
	</tr>
</table>
<p>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</p>